[Unit]
Description=ffmpeg rtp receiver
After=nginx.service

[Service]
DynamicUser=yes
Restart=always
ExecStart=/usr/bin/ffmpeg \
    -protocol_whitelist file,udp,rtp,crypto \
    -buffer_size 250k \
    -i udp://0.0.0.0:1234 \
    -vcodec h264 -preset veryfast -vf scale=-1:720 -acodec aac \
    -f flv rtmp://127.0.0.1/live/gokkecam

[Install]
WantedBy=multi-user.target
